<div class="box-top">
    <h1 id="tableLabel">Médicos</h1>
    <span>
        <button [disabled]="editMode" type="button" class="btn btn-success btn-lg" (click)="create()">Incluir</button>
        <a class="btn btn-dark btn-lg" href="/">Voltar</a>
    </span>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="doctors">
    <thead>
        <tr>
            <th style="width: 40%">Nome</th>
            <th style="width: 20%">CRM</th>
            <th style="width: 20%">UF</th>
            <th style="width: 20%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let doctor of doctors">
            <td *ngIf="!doctor.edit">{{ doctor.name }}</td>
            <td *ngIf="doctor.edit"><input  class="form-control" style="width: 100%" type="text" [(ngModel)]="doctor.name" /></td>

            <td *ngIf="!doctor.edit">{{ doctor.crm }}</td>
            <td *ngIf="doctor.edit"><input  class="form-control" style="width: 100%" type="text" [(ngModel)]="doctor.crm" /></td>

            <td *ngIf="!doctor.edit">{{ doctor.crmUf }}</td>
            <td *ngIf="doctor.edit"><input  class="form-control" style="width: 100%" type="text" [(ngModel)]="doctor.crmUf" /></td>

            <td *ngIf="!doctor.edit" style="width: 200px;">
                <button type="button" class="btn btn-primary" (click)="update(doctor)">Alterar</button>
                <button type="button" class="btn btn-danger" (click)="delete(doctor)">Excluir</button>
            </td>
            <td *ngIf="doctor.edit" style="width: 200px;">
                <button type="button" class="btn btn-primary" (click)="save(doctor)">Salvar</button>
                <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="11" style="text-align: center;">Médicos cadastrados: <span
                    class="badge badge-info">{{doctors.length}}</span></td>
        </tr>
    </tfoot>
</table>

<div *ngIf="!doctors" style="margin: 32px;" class="alert alert-warning" role="alert">
    <strong>Nenhum médico cadastrado.</strong>
</div>