<div class="box-top">
    <h1 id="tableLabel">Pacientes Cadastrados</h1>
    <span>
        <button [disabled]="editMode" type="button" class="btn btn-success btn-lg" (click)="open()">Incluir</button>
        <a class="btn btn-dark btn-lg" href="/">Voltar</a>
    </span>
</div>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td *ngIf="!forecast.edit">{{ forecast.date }}</td>
            <td *ngIf="forecast.edit"><input type="text" [(ngModel)]="forecast.date" /></td>

            <td *ngIf="!forecast.edit">{{ forecast.temperatureC }}</td>
            <td *ngIf="forecast.edit"><input type="text" [(ngModel)]="forecast.temperatureC" /></td>

            <td *ngIf="!forecast.edit">{{ forecast.temperatureF }}</td>
            <td *ngIf="forecast.edit"><input type="text" ngModel={{forecast.temperatureF}} /></td>

            <td *ngIf="!forecast.edit">{{ forecast.summary }}</td>
            <td *ngIf="forecast.edit"><input type="text" ngModel={{forecast.summary}} /></td>

            <td *ngIf="!forecast.edit" style="width: 200px;">
                <button type="button" class="btn btn-primary" (click)="Update(forecast)">Alterar</button>
                <button type="button" class="btn btn-danger" (click)="Delete(forecast)">Excluir</button>
            </td>
            <td *ngIf="forecast.edit" style="width: 200px;">
                <button type="button" class="btn btn-primary" (click)="Save(forecast)">Salvar</button>
                <button type="button" class="btn btn-danger" (click)="Cancel()">Cancelar</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="11" style="text-align: center;">Médicos cadastrados: <span class="badge badge-info">{{forecasts.length}}</span></td>
        </tr>
    </tfoot>
</table>