<h1>Avaliação BuiltCode</h1>
<p>Paciência: Eu <strong>ainda não</strong> sou um programador angular!</p>

<div class="row">
  <div class="col-sm-6">
    <a [routerLink]="['/doctors']">
      <div class="card">
        <div class="card-body">
          <img src="\assets\doctor.png" />
          <h3 class="card-title">Médicos</h3>
          <p class="card-text">Acessa o cadastro de médicos</p>
        </div>
      </div>
    </a> 
  </div>

  <div class="col-sm-6">
    <a [routerLink]="['/patients']">
      <div class="card">
        <div class="card-body">
          <img src="\assets\patient.png" />
          <h3 class="card-title">Pacientes</h3>
          <p class="card-text">Visualizar os pacientes cadastrados</p>
        </div>
      </div>    
    </a> 
  </div>

</div>